.offcanvas.offcanvas-end {  
    align-items: center;
    

}

.menuCitaPro {
    font-family: 'Nunito';
    align-items: left;
    text-align: left;
    color : #0078D4;
    font-size: 1.2rem !important;
}


/* click en el los botones del menu */

.container{
    border-radius: 10px;
}

.containerCitaPro {
    background-color: rgba(255, 255, 255, 0.8); /* El '0.7' representa un 70% de opacidad. */
    border-radius: 10px;
    padding: 60px;
    
}

#scrollspyNav{
    background-color: #f8f9fa;
}

html, .bodyCitapro {
    height:100%;
} 

.bodyCitapro {
    background-color: white;
    background-image: url('../img/branding/esteticista.jpg'); /* Asegúrate de que la ruta de la imagen es correcta */
    background-size: cover; /* Esto asegura que la imagen cubra todo el espacio disponible */
    background-repeat: no-repeat;
    background-position: center center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* Esto hace que la imagen de fondo permanezca fija */
    padding-top: 20px; /* Ajusta según sea necesario para separar del banner */
}

/* Estilos adicionales para otros elementos según se requiera */



.fondoHero1 {
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    position: relative; /* Esto asegura que el pseudo-elemento se posicione correctamente. */
}

.tituloCitaPro {
    font-family: 'Nunito';
    align-items: left;
    text-align: left;
    margin: 10px !important;
    background-image: linear-gradient(214deg, #50D9FF 0, #001B3E 93.5%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* Fallback para navegadores que no soportan background-clip */
}

.subtituloCitaPro {
  font-family: 'Nunito';
  margin: 10px !important;
  background-color: #001B3E;
  font-weight: 600 !important;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  font-size: 1.5rem !important;
  text-align: left;
}


.subtituloCitaPro7 {
  font-family: 'Nunito';
  margin: 10px !important;
  background-color: #000000;
  font-weight: 600 !important;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  font-size: 1rem !important;
  text-align: left;
}

/* Estilos Título y Subtítulo NO ALINEADOS */
.tituloCitaPro3, .subtituloCitaPro3 {
  font-family: 'Nunito';
  margin: 10px !important;
  background-color: #0078D4;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  font-weight: 800;
  margin-bottom: 30px !important;
}


.tituloCitaPro4, .subtituloCitaPro4 {
  font-family: 'Nunito';
  margin: 10px !important;
  background-color: #001B3E;
  font-weight: 500;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  font-size: 1.5rem !important;
}

.tituloCitaPro5, .subtituloCitaPro5 {
  font-family: 'Nunito';
  margin: 10px !important;
  background-color: #001B3E;
  font-weight: 500;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  font-size: 1.2rem !important;
}

.tituloCitaPro6, .subtituloCitaPro6 {
  font-family: 'Nunito';
  margin: 10px !important;
  background-color: #0078D4;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  font-weight: 800;
  margin-bottom: 30px !important;
  font-size: 2.5rem !important;
}


.tituloCitaPro1, .subtituloCitaPro1 {
    font-family: 'Nunito';
    align-items: left;
    text-align: left;
    margin: 10px !important;
    background-color: black;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1rem !important;
}

.tituloCitaPro {
    font-size: 2.5rem !important;
    font-weight: 800;
}

.subtituloCitaPro{
    font-size: 1.3rem !important;
    font-weight: bold;
    margin-bottom: 50px !important;
}

.gifCitaPro{
    border-radius: 10px;
}

.rowCitaPro {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos hijos */
    justify-content: between; /* Esto ya lo tienes, mantiene el espacio entre los elementos */
}


.gifImgCitaPro{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


header#header {
    z-index: 1050; /* Asegura que el header esté sobre otros contenidos */
}
@media (max-width: 768px) { /* Ajusta según tus puntos de corte */
  .fondoHero1 {
    height: 100vh; /* Ajusta según tus necesidades */
  }
}



.botonCitapro {
  background-color: #0364B8;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  animation: pulseAnimation 2s infinite;
}

/* Definimos la animación */
@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.05);
    
  }
  100% {
    transform: scale(1);
    
  }
}



/* estilos para el banner */
.banner {
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .tituloBanner {
    font-family: 'Nunito';
    align-items: center;
    text-align: center;
    margin: 10px !important;
    background-image: linear-gradient(214deg, #50D9FF 0, #001B3E 93.5%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    font-size: 2rem !important;
    font-weight: 800;
  }
  
  .iconos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    padding: 15px;
    background-color: #0364B8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .icon i {
    font-size: 24px;
    color: #ffffff; /* Cambia este color según tu paleta */
    margin-bottom: 8px;
  }
  
  .icon span {
    font-size: 14px;
    color: #ffffff; /* Cambia este color según tu paleta */
  }
  

  .icon i {
    font-size: 24px;
    color: #ffffff; /* Este es un tono de azul, pero puedes usar cualquier código de color azul que prefieras */
    margin-bottom: 8px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .elementoAnimado {
    animation: fadeIn 1s ease-in-out;
  }

  .hero-background {
    padding: 40px 0;
    
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }
  
  .hero-content {
    background: #FFFFFF;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .feature {
    
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: auto;
  }

  

  
  .btn-primary {
    background-color: #007bff; /* Asegúrate de que este color combine con tu paleta */
    border-color: #007bff;
    color: #fff;
  }
  
  .btn-lg {
    padding: 10px 30px;
    font-size: 20px;
  }
  

  /* Estilos para sección 24/7 */
  .virtual-schedule-section {
    padding: 40px 0;
    
    color: #333; /* Color del texto */
  }
  
  .virtual-schedule-section h2 {
    
    margin-bottom: 20px;
  }
  
  .virtual-schedule-section p {
    line-height: 1.6; /* Espaciado del texto para mejor lectura */
  }

  /* Estilos para sección de citas canceladas */

  .appointment-protection-section {
    padding: 40px 0;
    
    color: #333; /* Color del texto oscuro para contraste */
  }
  
  .appointment-protection-section h2 {
    
    margin-bottom: 20px;
  }
  
  .appointment-protection-section p {
    margin-bottom: 30px;
    line-height: 1.6; /* Espaciado del texto para facilitar la lectura */
  }
  
  .btn-warning {
    background-color: #ffc107; /* Color para llamar la atención */
    color: #000; /* Color del texto para el botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 20px; /* Bordes redondeados para el botón */
    font-size: 18px; /* Tamaño de letra más grande para el botón */
  }


/* Estilos para la sección 100% controlada */
.business-control-section {
  padding: 40px 0;
  
  color: #333; /* Texto oscuro para contraste */
}

.business-control-section h2 {
  
  margin-bottom: 20px;
}

.business-control-section p {
  line-height: 1.6; /* Espaciado de línea para mejorar la legibilidad */
}

  

/* Estilos para la animación de la sección de citas */
.hidden {
  opacity: 0;
  transition: opacity 3.5s ease, visibility 2s 2.5s;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 3.5s ease;
}


.custom-divider {
  height: 2px;
  background: linear-gradient(to right, #007bff, #654ea3, #eaafc8);
  margin: 50px auto;
  width: 100%;
  position: relative;
}


/* Estilos para gif de redes sociales */
.redesGif1 {
  position: relative;
  border-radius: 10px;
  top: -90px !important;
  bottom: 90px !important;

  left: 0;
  z-index: 1;
}

.redesGif {
  position: absolute;
  top: 90px !important;
  left: 0;
  z-index: 2;
}

/* Estilos para gif de redes sociales movil */
@media (max-width: 768px) {
  .redesGif1 {
    position: relative;
    border-radius: 10px;
    bottom: 30px !important;
    top: -30px !important;
    left: 0;
    z-index: 1;
  }
  
  .redesGif {
    position: absolute;
    top: 45px !important;
    left: 0;
    z-index: 2;
  }
}




/* Estilos para asegurar que el contenedor principal es un flexbox */
.container {
  display: flex;
  flex-wrap: wrap;
}

/* Estilos para las filas, haciéndolas también flexbox y permitiendo que los items se estiren para igualar alturas */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* Asegura que la fila ocupe todo el ancho del contenedor */
}

/* Estilos para las columnas para asegurar flexibilidad y adaptabilidad */
.col-12.col-md-4 {
  display: flex;
  flex: 0 0 33.3333%; /* Asegura que cada columna tome un tercio del espacio en pantallas medianas */
  max-width: 33.3333%;
}

/* Estilos para las tarjetas para que crezcan y llenen sus contenedores flexibles */
.card {
  display: flex;
  flex-direction: column; /* Orienta los contenidos de la tarjeta verticalmente */
  flex-grow: 1; /* Permite que la tarjeta crezca para ocupar el espacio disponible en la columna */
  width: 100%; /* Ocupa todo el ancho de la columna */
}

.card-body {
  flex-grow: 1; /* Hace que el cuerpo de la tarjeta crezca y empuje todo lo demás hacia abajo */
  display: flex;
  flex-direction: column; /* Asegura que el contenido interno también sea manejado como una columna */
}

/* Adaptabilidad para móviles y pantallas pequeñas */
@media (max-width: 768px) {
  .col-12.col-md-4 {
      flex: 0 0 100%; /* En pantallas pequeñas, cada columna toma el 100% del ancho */
      max-width: 100%;
  }
}


